{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}